<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BandsInTown</a>
    </div>
    <div>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="active"><a class="nav-link" routerLink="home">
          Home
        </a></li>

        <li class="active"><a class="nav-link" routerLink="login">
          Login
        </a></li>

      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<div class="container-fluid">-->
  <!--<app-home></app-home>-->
<!--</div>-->

